@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap");

.App {
  font-family: "Kanit", sans-serif;
  text-align: center;
}

body {
  background: linear-gradient(to right, rgb(122, 46, 194), rgb(118, 67, 167));
  color: black;
}

.Title {
  color: rgb(186, 194, 197);
  text-shadow: 2px 2px 3px #000000;
}

.subtitle {
  margin-left: 40%;
}

table {
  width: 100%;
}

table,
th,
td {
  border: 1px solid black;
}

.taskname {
  width: 100%;
  background-color: #d6eeee;
}

.fa-regular {
  margin: 2%;
}

.fa-brands {
  margin: 2%;
}

table {
  text-align: center;
}

.div {
  width: 100%;
  margin-right: 10%;
}

.details {
  display: inline-block;
  width: 100%;
}

.tableTitle{
  font-size: large;
  font-weight: 500;

}

