@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap");

.App {
  font-family: "Kanit", sans-serif;
  text-align: center;
}

body {
  background: linear-gradient(to right, rgb(122, 46, 194), rgb(118, 67, 167));
  color: black;
}

.homeTitle {
  margin-top: 3%;
  font-size: 1.5rem;
  font-weight: 700;
  color: rgb(220, 238, 238);
  text-shadow: 2px 2px 3px #0f0f0f;
}

.subTitle {
  font-size: 3rem;
  color: rgb(186, 194, 197);
  text-shadow: 2px 2px 3px #000000;
}

label {
  font-weight: bold;
}

.main-div {
  border-style: ridge;
  margin-left: 12%;
  margin-right: 12%;
}

.fa-solid:hover {
  cursor: pointer;
}

.details {
  width: 100%;
}
